[submodule "scorch-doc"]
	path = scorch-doc
	url = https://github.com/toolateralus/scorch-doc
[submodule "scorch-interpreter"]
	path = scorch-interpreter
	url = https://github.com/toolateralus/scorch-interpreter
[submodule "scorch-parser"]
	path = scorch-parser
	url = https://github.com/toolateralus/scorch-parser
[submodule "scorch-vsce"]
	path = scorch-vsce
	url = https://github.com/toolateralus/scorch-vsce
[submodule "scorch-pkg"]
	path = scorch-pkg
	url = https://github.com/toolateralus/scorch-pkg
